.navContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.linksContainer{
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.cartWidget{
  width:4rem;
}
.link{
  color:black;
  text-decoration: none;
  font-weight: bold;
}